.categories-container {
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-image:
    linear-gradient(
      to right, 
      #f06d06, 
      rgb(255, 255, 0), 
      green,
      blue
    );

}