.card {
    margin-right: 10px!important;
    border: none!important;
}

.card-group {
    padding-bottom: 50px!important;
}

.card-img-top {
    border-radius: 12px!important;
}

.card1 {
    margin-left: 10px!important;
}