.card {
    margin-right: 10px;
    border: none!important;
    
}

.card-group {
    padding-bottom: 50px;
}

.card-img-top {
    border-radius: 12px;
}

.card1 {
    margin-left: 10px;
}

.card-body-home {
    background-color:lightsteelblue;
    height: 300px;
    
}